
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.link {
  text-decoration: underline;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: inline-block;

  border: 1px solid transparent;
  cursor: pointer;
}

/* .hidden {
  display: none;
} */

a {
  color: inherit;
  padding: 0 2px;
}

a:hover, a:focus {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
}



/* ===================================================== */

header {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 100%;
  background-color: #155aaf;

  font-family: inherit;
  line-height: 1.5;
  color: #212529;
  font-weight: bold;

  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.input {
  padding: 6px 12px;
  background-color: #f7faff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0.5px solid lightgray;
  border-radius: 6px;
  width: 300px;
  font-size: 16px;
}

.submitBtn {
    display: inline-block;
    margin: 0 auto;
    
    margin-left: 4px;
    padding: 6px 12px;
    background-color: #f7faff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0.5px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
    
    cursor: pointer;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  }
  
  .submitBtn:is(:hover, :focus) {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.35);
}


/* ================section================================== */

section {
  padding-top: 100px;
  padding-bottom: 60px;
}

.js-list {
  display: flex;
  flex-wrap: wrap;
  flex-start: start;
  gap: 16px
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24%;
  height: 352px;
  background-color: #f7faff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0.5px solid lightgray;
  border-radius: 6px;
}

.card-thumb img {
  border-radius: 6px 6px 0 0;
}

.card-descr {
  overflow-y: hidden;
}

.img-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 8px 12px;
}

.img-info li {
  display: flex;
  flex-direction: column;
}

.img-info li p {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  padding-bottom: 4px;
}

.img-info li span {
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}

.js-load {
    margin: 20px auto;
    
    padding: 6px 12px;
    background-color: #f7faff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0.5px solid #f7faff;
    border-radius: 6px;
    
    cursor: pointer;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  }
  
  .js-load:is(:hover, :focus) {
    background-color: #155aaf;
    color: #f7faff;
    border: 0.5px solid #155aaf;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.35);
}


 /* =====================footer==================== */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100%;
  background-color: #155aaf;

  font-family: inherit;
  line-height: 1.5;
  color: #f7faff;
  font-weight: bold;

  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}